    <%= bootstrap_form_for @tvshow do |f| %>
        
<div class="container-fluid">
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= f.text_field :name %> <br>
        <%= f.text_field :genre %>
        
        <%= f.submit "Add show!" %>

    <% end %>
</div></div></div>